In [12]:
# !pip install --upgrade pymongo

In [23]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://TMR:iTMR@cluster0.2egn1fr.mongodb.net/"

# Create a new client and connect to the server
client = MongoClient(uri)

In [24]:
client

MongoClient(host=['ac-o50etgq-shard-00-01.2egn1fr.mongodb.net:27017', 'ac-o50etgq-shard-00-02.2egn1fr.mongodb.net:27017', 'ac-o50etgq-shard-00-00.2egn1fr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-daqqi3-shard-0', tls=True)

In [25]:
db = client['tmr']

In [26]:
data = {
    "name":'TMR',
    "Class":"Data Science",
    "Time":"10"
}

In [27]:
collection_tmr = db['my_record']

In [28]:
collection_tmr.insert_one(data)

InsertOneResult(ObjectId('65a944e81c00f0767170ae70'), acknowledged=True)

In [38]:
data = {
    "name":'TMR',
    "Class":"Data Science",
    "Time":"10",
    "Mail":"MitThakkar@gmail.com"
}

In [39]:
collection_tmr.insert_one(data)

InsertOneResult(ObjectId('65a9466f1c00f0767170ae71'), acknowledged=True)

In [40]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [41]:
collection_tmr.insert_many(data2)

InsertManyResult([ObjectId('65a946d01c00f0767170ae72'), ObjectId('65a946d01c00f0767170ae73'), ObjectId('65a946d01c00f0767170ae74'), ObjectId('65a946d01c00f0767170ae75'), ObjectId('65a946d01c00f0767170ae76'), ObjectId('65a946d01c00f0767170ae77'), ObjectId('65a946d01c00f0767170ae78'), ObjectId('65a946d01c00f0767170ae79'), ObjectId('65a946d01c00f0767170ae7a'), ObjectId('65a946d01c00f0767170ae7b'), ObjectId('65a946d01c00f0767170ae7c'), ObjectId('65a946d01c00f0767170ae7d')], acknowledged=True)

In [42]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [44]:
collection_tmr.insert_one(data3)

InsertOneResult(ObjectId('65a947121c00f0767170ae7e'), acknowledged=True)

In [46]:
# Fetching data

In [47]:
collection_tmr.find_one()

{'_id': ObjectId('65a938b61c00f0767170ae6c'),
 'name': 'TMR',
 'Class': 'Data Science',
 'Time': '10'}

In [49]:
for i in collection_tmr.find():
    print(i)

{'_id': ObjectId('65a938b61c00f0767170ae6c'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9441d1c00f0767170ae6e'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a944e81c00f0767170ae70'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9466f1c00f0767170ae71'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10', 'Mail': 'MitThakkar@gmail.com'}
{'_id': ObjectId('65a946d01c00f0767170ae72'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65a946d01c00f0767170ae73'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65a946d01c00f0767170ae74'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65a946d01c00f0767170ae75'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65a946d01c00f0767170ae76'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65a946d01c00f0767170ae77'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65a946d01c00f0767170ae78'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65a946d01c00f0767170ae79'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65a946d01c00f0767170ae7a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65a946d01c00f0767170ae7b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65a946d01c00f0767170ae7c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65a946d01c00f0767170ae7d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65a947121c00f0767170ae7e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [54]:
for i in collection_tmr.find({'name':'TMR'}):
    print(i)

{'_id': ObjectId('65a938b61c00f0767170ae6c'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9441d1c00f0767170ae6e'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a944e81c00f0767170ae70'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9466f1c00f0767170ae71'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10', 'Mail': 'MitThakkar@gmail.com'}

In [55]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [65]:
for  i in collection_tmr.find():
    print(i)

{'_id': ObjectId('65a938b61c00f0767170ae6c'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9441d1c00f0767170ae6e'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a944e81c00f0767170ae70'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9466f1c00f0767170ae71'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10', 'Mail': 'MitThakkar@gmail.com'}
{'_id': ObjectId('65a946d01c00f0767170ae72'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65a946d01c00f0767170ae73'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65a946d01c00f0767170ae74'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65a946d01c00f0767170ae75'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65a946d01c00f0767170ae76'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65a946d01c00f0767170ae77'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65a946d01c00f0767170ae78'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65a946d01c00f0767170ae79'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65a946d01c00f0767170ae7a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65a946d01c00f0767170ae7b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65a946d01c00f0767170ae7c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65a946d01c00f0767170ae7d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65a947121c00f0767170ae7e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [56]:
collection_tmr.insert_many(random_data)

InsertManyResult(['3', '4', '5'], acknowledged=True)

In [64]:
for i in collection_tmr.find({"_id":{'$gte':'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [68]:
collection_tmr.update_many({'companyName':'iNeuron'},{"$set":{'companyName':'TmrNeuron'}})

UpdateResult({'n': 3, 'electionId': ObjectId('7fffffff0000000000000004'), 'opTime': {'ts': Timestamp(1705593176, 3), 't': 4}, 'nModified': 3, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1705593176, 3), 'signature': {'hash': b'\x13\xbc\x1cl\x1b\xea\x041Cnc9\xb6\x8c\xc9\xe6\xf1\xd0\xf6+', 'keyId': 7325056355276947461}}, 'operationTime': Timestamp(1705593176, 3), 'updatedExisting': True}, acknowledged=True)

In [69]:
for  i in collection_tmr.find():
    print(i)

{'_id': ObjectId('65a938b61c00f0767170ae6c'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9441d1c00f0767170ae6e'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a944e81c00f0767170ae70'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10'}
{'_id': ObjectId('65a9466f1c00f0767170ae71'), 'name': 'TMR', 'Class': 'Data Science', 'Time': '10', 'Mail': 'MitThakkar@gmail.com'}
{'_id': ObjectId('65a946d01c00f0767170ae72'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65a946d01c00f0767170ae73'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65a946d01c00f0767170ae74'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65a946d01c00f0767170ae75'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65a946d01c00f0767170ae76'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65a946d01c00f0767170ae77'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65a946d01c00f0767170ae78'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65a946d01c00f0767170ae79'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65a946d01c00f0767170ae7a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65a946d01c00f0767170ae7b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65a946d01c00f0767170ae7c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65a946d01c00f0767170ae7d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65a947121c00f0767170ae7e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': '3', 'companyName': 'TmrNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'TmrNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'TmrNeuron', 'Faculty': 'PQR'}