In [1]:
# !pip install mysql-connector

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)

In [4]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x06DE58B0>

In [5]:
mycursor = mydb.cursor()

mycursor.execute("Show Databases")

for x in mycursor:
    print(x)

('blogwebdatabase',)
('demodatabase',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [6]:
# Create Database

In [7]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)

mycursor = mydb.cursor()

mycursor.execute("Create Database if not exists DemoDatabase")

mydb.close()

In [8]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)
mycursor = mydb.cursor()

mycursor.execute("Show Databases")

for x in mycursor:
    print(x)

('blogwebdatabase',)
('demodatabase',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [9]:
# Create Table

In [10]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)

mycursor = mydb.cursor()

mycursor.execute("create table if not exists DemoDatabase.TestTbl(c1 int,c2 varchar(50))")

mydb.close()

In [11]:
# Insert Data into A Table

In [12]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)

mycursor = mydb.cursor()

mycursor.execute("insert into demodatabase.testtbl values(1,'Mit')")

mydb.commit()

In [13]:
mycursor = mydb.cursor()

mycursor.execute("select * from demodatabase.testtbl")

for x in mycursor.fetchall():
    print(x)

(1, 'Mit')
(1, 'Mit')
(1, 'Mit')
(1, 'Mit')
(1, 'Mit')
(1, 'Mit')

In [14]:
# Playing with SQL

In [15]:
mycursor = mydb.cursor()

mycursor.execute("select c1 from demodatabase.testtbl")

for x in mycursor.fetchall():
    print(x)

(1,)
(1,)
(1,)
(1,)
(1,)
(1,)